"*":
  "atom-terminal":
    app: "/Applications/iTerm.app"
    surpressDirectoryArgument: false
  core:
    disabledPackages: [
      "linter-markdown"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      ".idea"
      ".vagrant"
      "*.pyc"
    ]
    telemetryConsent: "no"
    themes: [
      "nord-atom-ui"
      "nord-atom-syntax"
    ]
  editor:
    fontFamily: "Hack"
    fontSize: 11
    preferredLineLength: 120
    softWrap: true
  "exception-reporting":
    userId: ""
  "flex-tool-bar": {}
  "git-plus":
    general:
      _analyticsUserId: ""
  "go-config":
    gopath: "~/go"
  "go-plus":
    currentPanelHeight: "14.904761904761903vh"
    panelDisplayMode: "closed"
    test:
      coverageDisplayMode: "gutter"
      coverageHighlightMode: "disabled"
  "linter-docker": {}
  "tool-bar":
    fullWidth: false
    iconSize: "16px"
    position: "Left"
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
