"*":
  "atom-terminal":
    app: "/Applications/iTerm.app"
    surpressDirectoryArgument: false
  "atom-ternjs":
    inlineFnCompletionDocumentation: true
    useSnippets: true
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
        ".flowconfig"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "linter-markdown"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      ".idea"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "nord-atom-syntax"
    ]
    titleBar: "custom"
  editor:
    fontFamily: "Fira Code"
    fontSize: 9
    preferredLineLength: 120
    softWrap: true
  "exception-reporting":
    userId: ""
  "file-types":
    "^Dockerfile\\..*$": "source.dockerfile"
  "flex-tool-bar": {}
  "git-plus":
    general:
      _analyticsUserId: ""
  "go-config":
    gopath: "~/go"
  "go-plus":
    currentPanelHeight: "14.904761904761903vh"
    panel:
      currentHeight: "1.4591439688715953vh"
    panelDisplayMode: "closed"
    test:
      coverageDisplayMode: "gutter"
      coverageHighlightMode: "disabled"
  "linter-docker": {}
  "linter-ui-default":
    panelHeight: 69
    showPanel: true
  "python-yapf":
    yapfStyle: "{based_on_style: chromium, indent_width: 4, COLUMN_LIMIT: 120}"
  "tool-bar":
    fullWidth: false
    iconSize: "16px"
    position: "Left"
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
