[
  {
    type: "url"
    icon: "octoface"
    url: "http://github.com/blacktop"
    tooltip: "Github Page"
  }
  {
    type: "spacer"
  }
  {
    type: "button"
    icon: "document"
    callback: "application:new-file"
    tooltip: "New File"
    iconset: "ion"
    mode: "dev"
  }
  {
    type: "button"
    icon: "columns"
    iconset: "fa"
    callback: ["pane:split-right"]
  }
  {
    type: "button"
    icon: "git-commit"
    callback: "git-plus:menu"
    style:
      color: "#3cd675"
  }
  {
    type: "button"
    icon: "checklist"
    callback: "python-yapf:formatCode"
    style:
      color: "#e3c631"
  }
  {
    type: "button"
    icon: "markdown"
    callback: "markdown-preview:toggle"
    hide: "!markdown"
  }
]
